.navbar{
    display: flex;
    font-family:Arial, Helvetica, sans-serif
   
    
}



.nav-link-container, Link{
  
    width: 50%;
   background-color: rgb(77, 13, 114);
    font-weight: bold;
   color: white;
}

.nav-link{
    text-decoration: none;
    color: white;
}
#tamk{
    width: auto;
    border: 2px solid black;
    padding-right: 75px;
    padding-bottom: 10px;
  
}


.button{
    background-color: black;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    margin-left: 350px;
    margin-top: 5px;
}